<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Kaete QUnit Tests</title>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://code.jquery.com/qunit/git/qunit.js"></script>
<script type="text/javascript" src="kaete/kaete.js"></script>
<script>
$(function() {

    module("Text-only Templates");

    test("One line", function() {
        var template = "This is a text-only template.";
        equal(template, Kaete.render(template));
    });

    test("Multi-line", function() {
        var template = "\n\nI love Kaete\n\nIt is truly amazing.\n";
        equal(template, Kaete.render(template));
    });

    test("Containing HTML", function() {
        var template = "<h1>Hi, mom!</h1>\n";
        equal(template, Kaete.render(template));
    });


    module("Variable Tag");

    test("One variable", function() {
        var template = "[[ name ]]";
        var context = {name: "Bernard"};
        equal("Bernard", Kaete.render(template, context));
    });

    test("One variable with padded text", function() {
        var template = "All aboard the [[ vessel ]].";
        var context = {vessel: "sailboat"};
        equal("All aboard the sailboat.", Kaete.render(template, context));
    });

    test("A JavaScript expression", function() {
        var template = "Did you know that 1 + 2 = [[ 1 + 2 ]]?";
        equal("Did you know that 1 + 2 = 3?", Kaete.render(template));
    });

    test("Numerous variables", function() {
        var template = '"[[ noun ]] [[ verb ]] [[ adjective ]] [[ plural_noun ]][[ full_stop ]]"';
        var context = {noun: "Bob", verb: "likes", adjective: "small", plural_noun: "dogs", full_stop: "."};
        equal('"Bob likes small dogs."', Kaete.render(template, context));
    });

    test("Escaped/Unescaped variables", function() {
        var template = '[[ greeting ]]';
        var template_unescaped = '[[* greeting ]]';
        var context = {greeting: '<h1>Hi, mom!</h1>'};
        equal('&#60;h1&#62;Hi, mom!&#60;&#47;h1&#62;', Kaete.render(template, context));
        equal('<h1>Hi, mom!</h1>', Kaete.render(template_unescaped, context));
    });


    module("Code Tag");

    test("Set and print a variable", function() {
        var template = 'code="[% var test = "Hello, World!" %]", var="[[ test ]]"';
        equal('code="", var="Hello, World!"', Kaete.render(template));
    });

    test("Looping", function() {
        var template = "I like to count. [% for (var num = 1; num < 10; num++) { %][[ num ]][% } %]!";
        equal('I like to count. 123456789!', Kaete.render(template));
    });

    test("print() function", function() {
        var template = "<p>[% print('<strong>', 'hello', '</strong>'); %]</p>";
        equal('<p>&#60;strong&#62;hello&#60;&#47;strong&#62;</p>', Kaete.render(template));
    });

    test("print_unescaped() function", function() {
        var template = "<p>[% print_unescaped('<strong>', 'hello', '</strong>'); %]</p>";
        equal('<p><strong>hello</strong></p>', Kaete.render(template));
    });


    module("Basic Errors");

    test("Compile time error", function() {
        var expected_message;
        try {
            new Function(".");
        } catch (exception) {
            expected_message = exception.message;
        }

        var template = "[% . %]";
        equal("<p>Error compiling template: " + Kaete.escape_html(expected_message) + "</p>", Kaete.render(template));
    });

    test("Render time error", function() {
        var bad_name = "__this_name_should_not_be_defined_BSLDBSKDJBS";

        var test_func = new Function(bad_name);
        var expected_message;
        try {
            test_func();
        } catch (exception) {
            expected_message = exception.message;
        }

        var template = "[[ " + bad_name + " ]]";
        equal("<p>Error rendering template: " + Kaete.escape_html(expected_message) + "</p>", Kaete.render(template));
    });


    module("Configuring");

    test("New Template Tags", function() {
        var old_tag_start = Kaete.TAG_START;
        var old_tag_end = Kaete.TAG_END;

        Kaete.configure({
            TAG_START: "<",
            TAG_END: ">"
        });

        var template = "<# Comment #>Testing: <% for (var i = 1; i <= 3; i++) { %><[ i ]><% } %>.";
        equal("Testing: 123.", Kaete.render(template));

        Kaete.configure({
            TAG_START: old_tag_start,
            TAG_END: old_tag_end
        });

    });

});
</script>

</head>
<body>
    <h1 id="qunit-header">Kaete QUnit Tests</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture">test markup, will be hidden</div>
</body>
</html>
